<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Lighthouse</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
  <div class="container">
    <div class="row"> 
      <div class="two-thirds column" style="margin-top: 20%">
        <h1 class="title">Ligthouse</h1>
        <h5>We guide refugees to find local friends</h5>
        <hr>
      </div>
    </div>
    <div class="row"> 
    <h6> Tell us something about yourself so we can find you suitable matches </h6>
        <label for="about">About Yourself</label>
        <form method="post" id="myform">
  <textarea class="u-full-width" name="about" form"myform" placeholder="" id="about"></textarea>
        <hr>
        <a class="button" href="gender_preference">Back</a>
        <input type="submit" name="Next">
      </form>
      </div>
  </div>
</body>
</html>