
{% extends "base.html" %}
{% block content %}

<div class="row"> 
  <h5> Tell us something about yourself</h5>
  <h6>This will try match you with people that have similar hobbies. For example: If you like playing guitar, playing chess and singing then write: <br>
  guitar, chess, singing</h6>
  <label for="about">About Yourself</label>
  <form method="post" id="myform">
    <textarea class="u-full-width" name="About" form"myform" placeholder="" id="about"></textarea>
    <hr>
    <a class="button" href="dob">Back</a>
    <input type="submit" value="Next">
  </form>
</div>


{% endblock %}