{% extends "base.html" %}
{% block content %}


<div class="one-half column" style="margin-top: 10px">
  <div class="control-group">
    <h6>Knowing how old you are will help us find more suitable matches.</h6>
    <div>
      <form method="post">
        <input type="date" name="DOB">
        <input type="submit" value="Next">
      </form>
    </div>
  </div>
</div>
<div class="row">  <hr>
 <!-- <a class="button" href="gender_preference.html">Next</a> -->
 <a class="button" href="gender_preference">Back</a> 
</div>

{% endblock %}