<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
  <div class="container">
    <div class="row"> 
      <div class="two-thirds column" style="margin-top: 20%">
        <h1 class="title">Ligthouse</h1>
        <h5>We guide refugees find new homes</h5>
        <hr>
      </div>
      <div class="one-half column" style="margin-top: 10px">
        <div class="control-group">
        <h6>Knowing how old you are will help us find more suitable matches.</h6>
        <div>
      <form method="post">
        <input type="date">
        <input type="submit" value="Next">
      </form>
        </div>
      </div>
    </div>
    <div class="row">  <hr>
    <a class="button" href="gender_preference.html">Next</a>
     <a class="button" href="gender_preference.html">Skip</a>
  </div>
</body>
</html>