{% extends "base.html" %}
{% block content %}

<div class="row"> 
  <h6> Please provide a valid email address</h6>
  <label for="email"> E-mail </label>  
  <form method="post">
    <input class="u-full-width" type="email" placeholder="arnoldschwarzeneger@hackzurich.ch" id="email" name="Email"> </br>
    <hr>
    <a class="button" href="about-yourself">Back</a>
    <input type="submit" name="Find Matches"</a>
  </form>
  <label for="agbcheck">
   <input type="checkbox" name="agb" value="" id="agbcheck">
   I have read and agreed to the terms and conditions
 </label> 
 <center><a href="agb.html">Terms of Use</a></center>
</div>
</div>


{% endblock %}