{% extends "base.html" %}
{% block content %}

      <div class="row"> 
        <h5> Please indicate your gender </h5>
        <form method="post">
          <input type="radio" name="Gender" value="female" checked="true"> Female
          <br>
          <input type="radio" name="Gender" value="male"> Male
          <br>
        </div> 
        <div class="row">  <hr>
         <a class="button" href="languages">Back</a>
         <input type="submit" value="Next">     
       </form> 


{% endblock %}