{% extends "base.html" %}
{% block content %}
    <div class="row"> 
        <h5> Who would you prefer to be matched with? </h5>
        <form method="post">
        <input type="radio" name="Gender_Pref" value="own" checked="true"> My Own Gender
        <br>
        <input type="radio" name="Gender_Pref" value="anyone"> Anyone
        <br>
    </div> 
        <div class="row">  <hr>
         <a class="button" href="gender">Back</a>
        <input type="submit" value="Next">     
        </form> 
    </div>
    <!--<div class="row">  <hr>
     <a class="button" href="gender">Back</a>
     <a class="button" href="about-yourself">Skip</a>
  </div>-->

{% endblock %}