{% extends "base.html" %}
{% block content %}
      <div class="row"> 
        <h6> Refugee Lighthouse connects locals with refugees for simple
        social interactions. This could be an afternoon coffee, walk in the park,
         a visit to a museum or whatever your saturday afternoon brings you.
        Our service connects <b>two refugees </b> with <b> two locals</b> that have similar profiles to form a group of four. <br><br>
        Interested in meeting some new people and doing your part to help our society to funciton as one? Why not answer a few questions to see if this is for you?
          </h6>
        
      </div> 
      <div class="row">  <hr>
         <a class="button" href="index">Get Started</a> 
         <!--- <input type="submit" value="Next">   -->  

      </div>

{% endblock %}