{% extends "base.html" %}
{% block content %}
    <div class="row"> 
        <h5> What languages do you speak? </h5>
        <h6>We want to make sure that you will actually be able to have some conversation </h6>
      <form method="Post">
        <input class="u-full-width" type="text" placeholder="Native" id="lan1" name="native"> </br>
        <input class="u-full-width" type="text" placeholder="(Foreign)" id="lan1" name="foreign1"> </br>
        <input class="u-full-width" type="text" placeholder="(Foreign)" id="lan1" name="foreign2"> </br>
    </div>
    <div class="row">  <hr>
     <a class="button" href="location">Back</a>
     <input type="submit" value="Next">
     </form>
  </div>
{% endblock %}