<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
  <div class="container">
    <div class="row"> 
      <div class="two-thirds column" style="margin-top: 20%">
        <h1 class="title">Ligthouse</h1>
        <h5>We guide refugees find new homes</h5>
        <hr>
      </div>
    </div>
    <div class="row"> 
        <h6> What languages do you speak? </h6>
        <input class="u-full-width" type="text" placeholder="Native" id="lan1"> </br>
        <input class="u-full-width" type="text" placeholder="(Foreign)" id="lan1"> </br>
        <input class="u-full-width" type="text" placeholder="(Foreign)" id="lan1"> </br>
    </div>
    <div class="row">  <hr>
     <a class="button" href="refugee">Back</a>
     <a class="button" href="gender">Next</a>
  </div>

</body>
</html>