{% extends "base.html" %}
{% block content %}

  <div class="row">
    <h5>In which city do you live in?</h5> 
    <h6>This will ensure that you matches live in your city</h6>
    <label for="location_country" class="control-label">City</label>
    <form method="post">
      <input class="u-full-width" type="text" placeholder="Zurich" id="location" name="Location"> </br>

      <hr>
      <a class="button" href="email">Back</a>
      <input type="submit" value="Next">
    </form>

  </div>


{% endblock %}