{% extends "base.html" %}
{% block content %}
    <div class="row"> 
    <h5>Thank You!! You will receive an email once your matches have been found</h5>
    <h6> Depending on the profiles in the database this could take anywhere between a few seconds to a month </h6>
    </div>


      <div class="row">  <hr>
      	<h6> If you want to edit your data or make some changes to your profile then register an account here </h6>
         <a class="button" href="register">Register</a> 
         <!--- <input type="submit" value="Next">   -->  

      </div>
{% endblock %}
