{% extends "users/base.html" %}
{% block content %}


<div>
	<form name="UserForm" method="post">

		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<script>
		$(function() {
			$( ".datepicker" ).datepicker({
				changeMonth: true,
				changeYear: true,
				yearRange: "1900:2012",
      // You can put more options here.

  });
		});
		</script>

		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Submit" />
	</form>


</div>

{% endblock %}
